body
{
	background-color: #FFEBCD;
}
nav
{
	height: 50px;
	width:300px;
	padding-bottom: 25px;
	background-color: yellow;
	font-size: 20px;
}
nav ul 
{

}
nav ul li
{
	list-style-type: none;
	width: 120px;
	float:left;
	text-align: center;
}

li a:hover
{
	background-color:black;
	color:white;
}
h2
{
	clear: both;
}

div
{
	text-align:center;
	font-family: "Arial Black", Gadget, sans-serif;
	
}
p
{
	font-family: 'Lato', sans-serif;
}
h3
{

}
