/*  All 3 pages */
body
{
	margin-left: 10px;
	margin-right: 10px;
}
nav
{
	height: 50px;
	width:300px;
	padding-bottom: 25px;
	background-color: yellow;
	font-size: 20px;
	position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
nav ul 
{

}
nav ul li
{
	list-style-type: none;
	width: 120px;
	float:left;
	text-align: right;
}

li a:hover
{
	background-color:black;
	color:white;
}
h2
{
	clear: both;
}

div
{
	text-align:center;
	font-family: "Arial Black", Gadget, sans-serif;
	
}
p
{
	font-family: serif, Arial, Helvetica;
	font-size: 20px;
	text-align: justify;
  text-justify: inter-word;
}
h3
{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 25px;
}
.pagecolor
{
	background-color: #FFEBCD;
}
iframe
{
	border:none;
}
/* page 1*/
#vresize8
{
	width: 640px;
	height: 360px;
}
/* page 2 */
#vresize1
{
	width: 640px;
	height: 360px;
}
#vresize7
{
	width: 640px;
	height: 360px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*  page 3 */

.image_resize1
{
	height: 553px;
	width: 350px;
	float: left;
	padding-right: 10px;
}
h1
{
	clear:both;
	padding-top: 50px;
}
#vresize2/* Planet Hulk*/
{
	width: 800px;
	height: 440px;
	padding-left: 10px;
	float:right;
}
#vresize3 /* Next Avengers: Heroes of Tomorrow*/
{
	width: 800px;
	height: 420px;
	padding-left: 10px;
	float:right;
}
#vresize4 /*Batman Beyond: Return of the Joker*/
{
	width: 800px;
	height: 440px;
	padding-left: 10px;
	float:right;
}
#vresize5 /*Teen Titans: Trouble in Tokyo*/
{
	width: 800px;
	height: 440px;
	padding-left: 10px;
	float:right;
}
#vresize6 /*Justice League: The Flashpoint Paradox*/
{
	width: 800px;
	height: 440px;
	padding-left: 10px;
	float:right;
}