nav
{
	background-color: black
	hight: 50px;
}
nav ul 
{
	line-height: 10px
}
nav ul li
{
	list-style-type: none;
	width: 150px;
	float:left;
	text-align: center;
}

{
	text-decoration: none;
	color:black;
	line-height: 50px
	display:block;
}
li a:hover
{
	background-color:yellow;
	color:green;
}

